{{ $limit := .Get "limit" | default 1 }}
{{ $title := .Get "title" | default (i18n "shortcode.recent_articles" | emojify) }}
{{ $parent := .Page.RelPermalink }}
{{ $tag := .Get "tag" }}
<h2 class="mt-20 text-2xl font-extrabold mb-10">{{ $title }}</h2>
<section class="space-y-10 w-full mt-10 mb-10">
    {{ $articles := $.Site.GetPage "taxonomyTerm" $tag }}
    {{ range $articles.Pages | first $limit }}
        {{ if not (eq .RelPermalink $parent) }}
            {{ partial "article-link/simple.html" . }}
        {{ end }}
    {{ end }}
</section>